
.item-container{
  display: flex;
  gap:20px;
  justify-content: start;
  align-items: center;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.product-list img{
  width:auto;
  height: 90px;
  border-radius:5px ;

}
.items-container::-webkit-scrollbar {
  display: none;       
}
.product-list{
  margin: 10px;
  text-align: center;
  border-radius: 6px;

}
.items{
  font-style: italic;
}

.icon{
  
  font-size: 30px;
}